<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Smashed Egg</string>
		<key>description</key>
		<string>Oops, smashed!</string>
		<key>imageNamed</key>
		<string>smashed-egg</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==0)?-1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Oyako Don</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>oyako-don</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==-1)?-1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-1</integer>
		<key>name</key>
		<string>Plain Boiled Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>plain-boiled-egg</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; condiments[0] == 0 &amp;&amp; condiments[1] == 0 &amp;&amp; condiments[2] == 0)?-2:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-2</integer>
		<key>name</key>
		<string>Amorphous Style Fried Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>black-fried</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==1)?1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-3</integer>
		<key>name</key>
		<string>Nameless Style Baked Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>black-baked</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==2)?1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-4</integer>
		<key>name</key>
		<string>Unspeakable Style Boiled Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>black-boiled</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==3)?1:0;</string>
	</dict>
</array>
</plist>
