<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Smashed Egg</string>
		<key>description</key>
		<string>Oops, smashed!</string>
		<key>imageNamed</key>
		<string>smashed-egg</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==0)?-1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Oyako Don</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>oyako-don</string>
		<key>rarity</key>
		<integer>5</integer>
		<key>canConstruct</key>
		<string>return (cooker==-1)?-1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Surströmming &amp; Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>surstromming-egg</string>
		<key>rarity</key>
		<integer>5</integer>
		<key>canConstruct</key>
		<string>return (cooker!=0 &amp;&amp; ingred[109])?-3:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Fried Egg &amp; Bacon</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>fried-egg-bacon</string>
		<key>rarity</key>
		<integer>4</integer>
		<key>canConstruct</key>
		<string>return (cooker==1 &amp;&amp; cond[0]&gt;=0.5 &amp;&amp; ingred[106])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Scramble Egg &amp; Tomato</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>scramble-egg-tomato</string>
		<key>rarity</key>
		<integer>4</integer>
		<key>canConstruct</key>
		<string>return (cooker==1 &amp;&amp; cond[0]&gt;=0.5 &amp;&amp; ingred[101])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Genki Omurice</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>genki-omurice</string>
		<key>rarity</key>
		<integer>4</integer>
		<key>canConstruct</key>
		<string>return (cooker==1 &amp;&amp; cond[0]&gt;=0.4 &amp;&amp; ingred[104])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Egg Sandwitch</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>egg-sandwich</string>
		<key>rarity</key>
		<integer>4</integer>
		<key>canConstruct</key>
		<string>return (cooker==2 &amp;&amp; cond[0]&gt;=0.3 &amp;&amp; cond[2]&lt;=0.2 &amp;&amp; ingred[101] &amp;&amp; ingred[105] &amp;&amp; ingred[106])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>Egg Pancake</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>egg-pancake</string>
		<key>rarity</key>
		<integer>4</integer>
		<key>canConstruct</key>
		<string>return (cooker==1 &amp;&amp; cond[0]&gt;=0.5 &amp;&amp; ingred[100])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>Sichuan Style Fried Rice with Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>sichuan-style-fried-rice-with-egg</string>
		<key>rarity</key>
		<integer>4</integer>
		<key>canConstruct</key>
		<string>return (cooker==1 &amp;&amp; cond[0]&gt;=0.4 &amp;&amp; cond[2]&gt;=0.3 &amp;&amp; ingred[100] &amp;&amp; ingred[104])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>Chocolate Cake</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>chocolate-cake</string>
		<key>rarity</key>
		<integer>3</integer>
		<key>canConstruct</key>
		<string>return (cooker==2 &amp;&amp; cond[1]&gt;=0.7 &amp;&amp; ingred[102] &amp;&amp; ingred[103] &amp;&amp; ingred[108])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>Strawberry Cake</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>strawberry-cake</string>
		<key>rarity</key>
		<integer>3</integer>
		<key>canConstruct</key>
		<string>return (cooker==2 &amp;&amp; cond[1]&gt;=0.7 &amp;&amp; ingred[102] &amp;&amp; ingred[103] &amp;&amp; ingred[107])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>Strawberry Custard</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>strawberry-custard</string>
		<key>rarity</key>
		<integer>3</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; cond[1]&gt;=0.5 &amp;&amp; ingred[103] &amp;&amp; ingred[107])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>Souffle</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>souffle</string>
		<key>rarity</key>
		<integer>3</integer>
		<key>canConstruct</key>
		<string>return (cooker==2 &amp;&amp; cond[0]&gt;=0.2 &amp;&amp; cond[1]&gt;=0.5 &amp;&amp; ingred[103])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>Steamed Eggs with Milk</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>streamed-egg-with-milk</string>
		<key>rarity</key>
		<integer>3</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; cond[1]&gt;=0.4 &amp;&amp; ingred[103])?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>Soy Egg / Tea Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>soy-tea-egg</string>
		<key>rarity</key>
		<integer>2</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; cond[0]&gt;=0.6)?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>Guangdong Style Scrambled Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>guangdong-style-scrambled-egg</string>
		<key>rarity</key>
		<integer>2</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; cond[0]&gt;=0.3)?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>Chinese Steamed Eggs</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>chinese-steamed-eggs</string>
		<key>rarity</key>
		<integer>2</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; cond[0]&gt;0)?10:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-1</integer>
		<key>name</key>
		<string>Plain Boiled Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>plain-boiled-egg</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==3 &amp;&amp; cond[0] == 0 &amp;&amp; cond[1] == 0 &amp;&amp; cond[2] == 0)?-2:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-2</integer>
		<key>name</key>
		<string>Amorphous Style Fried Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>black-fried</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==1)?1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-3</integer>
		<key>name</key>
		<string>Nameless Style Baked Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>black-baked</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==2)?1:0;</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>-4</integer>
		<key>name</key>
		<string>Unspeakable Style Boiled Egg</string>
		<key>description</key>
		<string></string>
		<key>imageNamed</key>
		<string>black-boiled</string>
		<key>rarity</key>
		<integer>1</integer>
		<key>canConstruct</key>
		<string>return (cooker==3)?1:0;</string>
	</dict>
</array>
</plist>
