<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>Smashed Egg</string>
		<key>description</key>
		<string>Oops, smashed!</string>
		<key>imageNamed</key>
		<string>smashed-egg</string>
		<key>canConstruct</key>
		<string>function(cooker, condiments, ingredients) { return (cooker==0)?-1:0 }</string>
	</dict>
</dict>
</plist>
